*
!/.gitignore
!/.githooks
!/.githooks/*
!/.meta
!/.pkg
!/etc
!/etc/doas.conf
!/etc/hostname.re0
!/etc/hosts
!/etc/hotplug
!/etc/hotplug/attach
!/etc/installurl
!/etc/login.conf
!/etc/mk.conf
!/etc/mygate
!/etc/myname
!/etc/nanorc
!/etc/pf.conf
!/etc/rc.conf.local
!/etc/rc.local
!/etc/resolv.conf
!/etc/X11
!/etc/X11/xenodm
!/etc/X11/xenodm/Xsession
!/etc/X11/xenodm/Xsetup_0
!/etc/X11/xorg.conf
!/etc/X11/xorg.conf.d
!/etc/X11/xorg.conf.d/*.conf
!/etc/ttys
!/etc/vm.conf
!/home
!/home/xlzs0
!/home/xlzs0/.config
!/home/xlzs0/.config/gtk-3.0
!/home/xlzs0/.config/gtk-3.0/settings.ini
!/home/xlzs0/.config/gtk-4.0
!/home/xlzs0/.config/gtk-4.0/settings.ini
!/home/xlzs0/.config/micro
!/home/xlzs0/.config/micro/colorschemes
!/home/xlzs0/.config/micro/colorschemes/*
!/home/xlzs0/.config/micro/settings.json
!/home/xlzs0/.envrc
!/home/xlzs0/.kshrc
!/home/xlzs0/.Xresources
!/home/xlzs0/.xsession
!/home/xlzs0/kernel_patches
!/home/xlzs0/kernel_patches/uaudio-fixes.diff
!/home/xlzs0/kernel_patches/xhci-reset-fix.diff
