#!/bin/sh

export ENV=$HOME/.kshrc
export AUDIODEVICE=snd/0
export AUDIORECDEVICE=snd/1
export LANG=en_US.UTF-8
export BUN_JSC_numberOfGCMarkers=1

case ":$PATH:" in
  *":$HOME/.cargo/bin:"*) ;;
  *) export PATH="$HOME/.cargo/bin:$HOME/.local/bin:$HOME/go/bin:$PATH" ;;
esac
